.notice-table-wrap {
  width: 100%;
  overflow: hidden;
}

.notice-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.notice-table tr {
  height: 40px;
  border-bottom: 1px solid #a9bda9;
}

.notice-table td {
  padding: 0 8px;

  color: var(--color-sub-text);
  font-size: 14px;
  vertical-align: middle;
}

.notice-level-cell {
  width: 62px;
  text-align: left;
}

.notice-level {
  font-weight: 500;
  white-space: nowrap;
}

.notice-level.important {
  color: var(--color-sub-text);
}

.notice-title-cell {
  overflow: hidden;

  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.notice-author-cell {
  width: 70px;
  text-align: center;
  white-space: nowrap;
}

.notice-date-cell {
  width: 95px;
  text-align: right;
  white-space: nowrap;
}