/* 전역 css */
:root {
  --color-header-text: #0f3d2e; /* 헤더 / 큰 글자 */
  --color-primary-btn: #c0e2af; /* 버튼 / 로고 */
  --color-sub-text: #4f7a5b; /* 작은 글자 */
  --color-border: #e2e6d8; /* 외곽선 */
  --color-login-frame: #ffffff; /* 로그인 프레임 */
  --color-bg-main: #f7f5ef; /* 전체 배경 */

  --color-footer-bg: #eef2e4; /* 푸터 채우기 */
  --color-footer-border: #e2e6d8; /* 푸터 외곽선 */
  --color-footer-desc: #6b8064; /* 푸터 설명글 */
  --color-btn-desc: #acacac; /* 버튼 설명글 */
}
